<template lang="pug">
    .m-3.p-3
        v-alert.m-3.p-3.titleColor.scrollTable(outlined elevation="2")
            span {{title}}
            v-divider.mb-1.titleColor
            v-alert
                v-card-title.titleColor
                    v-dialog(transition="dialog-bottom-transition" max-width="400")
                        
                    v-spacer
                    v-text-field.titleColor(v-model="search" append-icon="mdi-magnify" label="Поиск по списку" single-line hide-details)
                v-data-table.tableStyle.titleColor.mt-10(:headers="headers_invoice" :items="invoices" :search="search" :footer-props="{itemsPerPageText: 'Количество строк:'}")
                    template(v-slot:body.prepend)
                        tr(style="margin-top:10px;margin-bottom:10px;")
                            td
                                v-text-field(v-model="id" @keyup="searchLocally()" type="text")
                            td    
                                v-text-field(v-model="inv_name_sender" @keyup="searchLocally()" type="text")
                            td.d-flex.justify-end.align-center    
                                v-btn.textWhite(outlined @click="clearSearch()")
                                    span Очистить поиск
                    template(v-slot:item.controls="props") 
                        .d-flex.justify-end
                            v-dialog(transition="dialog-bottom-transition" max-width="1700")
                                template(v-slot:activator="{ on, attrs }")
                                    v-btn.mr-4.textWhite(outlined @click="setAccptArray(props.item)" v-bind="attrs" v-on="on")
                                        v-icon(color="indigo") mdi-circle-edit-outline
                                template(v-slot:default="dialog")
                                    v-card
                                        v-toolbar(color="indigo accent-2" dark)
                                            span Действие по оплате
                                        v-card-text
                                            div.text-h5.pa-12
                                                form(@submit.prevent="update(props.item)")
                                                    v-data-table.tableStyle.titleColor.mt-10(:headers="headers_acc" :items="acc_arr")
                                                    br
                                                    br
                                                    div(style="display:flex;justify-content:flex-end") 
                                                        v-select.titleColor(v-if="props.item.cascade_type == 3" style="max-width:300px;margin-right:30px;margin-top:-1px;" :items="corporates" label="Выберите клиента" v-model.trim="form_update.corporate" :item-text="'display_name'" :item-value="'id'")
                                                        v-btn.mt-2.titleColor(type="submit" outlined @click="[dialog.value = false, acceptance = true]" style="margin-right:20px;") Подтвердить
                                                        v-btn.mt-2.titleColor(type="submit" outlined @click="[dialog.value = false, acceptance = false]") Отклонить
                                        v-card-actions.justify-end
                                            v-btn(@click="dialog.value = false" text) Закрыть
                            //- v-btn.mr-4.textWhite(outlined @click="deleteItem(props.item)")
                            //-     v-icon(color="red") mdi-information-outline
        nav
            span.pagination.justify-content-center.textWhitePage.mb-2 Навигация по всем пользователям
            ul.pagination.justify-content-center
                li.page-item(v-for="(key, value) in links" :key="value")
                    a.page-link.textWhitePage(v-if="key !== null" @click="loadMore(key)" href="#") {{translate(value)}}
</template>
<script>
    import {mapGetters, mapActions} from "vuex"
    export default {
        middleware: ['auth'],
        props: [
            'title',
            'endpoint',
        ],
        data: () => ({ 
            acceptance: false,
            links: [],
            search: '',
            invoices: [],
            typeError: '',
            successType: true,
            id: '',
            cascade_type: '',
            inv_id: '',
            inv_doc_num: '',
            inv_state_ref: '',
            inv_amnt_sender: '',
            inv_name_sender: '',
            inv_rnn_sender: '',
            inv_accnt_sender: '',
            inv_date_v_sender: '',
            inv_payment_purpose_sender: '',
            inv_mfo_sender: '',
            inv_currency: '',
            username: '',
            first_name: '',
            last_name: '',
            display_name: '',
            phone: '',
            email: '',
            corporates: [],
            form: {
                username: '',
                first_name: '',
                last_name: '',
                display_name: '',
                phone: '',
                email: '',
            },
            form_update: {
                corporate: '',
                id: '',
                username: '',
                first_name: '',
                last_name: '',
                display_name: '',
                phone: '',
                email: '',
            },
            accpt_array: {
                id: '',
                cascade_type: '',
                inv_id: '',
                inv_doc_num: '',
                inv_state_ref: '',
                inv_amnt_sender: '',
                inv_name_sender: '',
                inv_rnn_sender: '',
                inv_accnt_sender: '',
                inv_date_v_sender: '',
                inv_payment_purpose_sender: '',
                inv_mfo_sender: '',
                inv_currency: '',
            },
            acc_arr: [],
        }),
        async mounted(){
            this.searchLocally()
            this.getCorps()
        },
        computed: {
            ...mapGetters('modules/invoice', [
                'headers_invoice',
                'headers_acc'
            ]),
        },
        methods: {
            ...mapActions("modules/invoice", [
                "setHeadersInvoiceAction"
            ]),
            async deleteItem(item) {
                await this.$axios.$delete(`corporate-client/confirm-list`,
                    {
                    params: {
                        id: item.id.split(' ')[0]
                    }})
                .then(response => {
                    this.searchLocally()
                    this.clearForms()
                    console.log(response.data)
                }).catch(err => {
                    console.log(err, 'error')
                })
            },
            setVals(item) {
                this.form_update.id = item.id.split(' ')[0]
                this.form_update.username = item.username
                this.form_update.first_name = item.first_name
                this.form_update.last_name = item.last_name
                this.form_update.display_name = item.display_name
                this.form_update.phone = item.phone
                this.form_update.email = item.email
            },
            setAccptArray(item) {
                this.accpt_array.id = item.id,
                this.accpt_array.cascade_type = item.cascade_type,
                this.accpt_array.inv_id = item.inv_id,
                this.accpt_array.inv_doc_num = item.inv_doc_num,
                this.accpt_array.inv_state_ref = item.inv_state_ref,
                this.accpt_array.inv_amnt_sender = item.inv_amnt_sender,
                this.accpt_array.inv_name_sender = item.inv_name_sender,
                this.accpt_array.inv_rnn_sender = item.inv_rnn_sender,
                this.accpt_array.inv_accnt_sender = item.inv_accnt_sender,
                this.accpt_array.inv_date_v_sender = item.inv_date_v_sender,
                this.accpt_array.inv_payment_purpose_sender = item.inv_payment_purpose_sender,
                this.accpt_array.inv_mfo_sender = item.inv_mfo_sender,
                this.accpt_array.inv_currency = item.inv_currency
                this.acc_arr = []
                this.acc_arr.push(this.accpt_array)
            },
            async searchLocally(){
                await this.$axios.$get('corporate-client/confirm-list', {
                    params: {
                        id: this.id,
                        name_sender: this.inv_name_sender,
                    }
                })
                    .then(response => {
                        this.invoices = response.data
                        this.links = response.links

                        this.invoices.forEach((item, i) => {
                            item.id = item.id + ' (' + (i + 1) + ')';
                        })
                    })
            },
            async getCorps(){
                await this.$axios.$get('corporate-client/get-corps', {
                    params: {
                    }
                })
                    .then(response => {
                        this.corporates = response
                    })
            },
            clearSearch(){
                this.id = '',
                this.cascade_type = '',
                this.inv_id = '',
                this.inv_doc_num = '',
                this.inv_state_ref = '',
                this.inv_amnt_sender = '',
                this.inv_name_sender = '',
                this.inv_rnn_sender = '',
                this.inv_accnt_sender = '',
                this.inv_date_v_sender = '',
                this.inv_payment_purpose_sender = '',
                this.inv_mfo_sender = '',
                this.inv_currency = '',
                this.searchLocally()
            },
            clearForms(){
                this.form = {
                    id: '',
                    cascade_type: '',
                    inv_id: '',
                    inv_doc_num: '',
                    inv_state_ref: '',
                    inv_amnt_sender: '',
                    inv_name_sender: '',
                    inv_rnn_sender: '',
                    inv_accnt_sender: '',
                    inv_date_v_sender: '',
                    inv_payment_purpose_sender: '',
                    inv_mfo_sender: '',
                    inv_currency: '',
                }
            },
            translate(val){
                switch (val) {
                    case 'first':
                        return 'Первая'
                    case 'last':
                        return 'Последняя'
                    case 'prev':
                        return 'Предыдущая'
                    case 'next':
                        return 'Следующая'
                    default:
                        return 'No value'
                }
            },
            async loadMore(key) {
                let response = await this.$axios.$get(key)
                    .then(response => {
                        this.invoices = response.data
                        this.links = response.links

                        this.invoices.forEach((item, i) => {
                            item.id = item.id + ' (' + (i + 1) + ')';
                        })
                    })
            },
            async update(item){
                console.log(item.cascade_type)
                console.log(item.inv_rnn_sender)
                console.log(item.inv_amnt_sender)
                console.log(this.acceptance, ' -- acceptance')
                console.log(this.form_update.corporate)
                if(item.cascade_type == 2){
                    await this.$axios.$post(`/corporate-client/confirm-action`, {
                        cscd_type: 2,
                        rnn_sender: item.inv_rnn_sender,
                        amnt_sender: item.inv_amnt_sender,
                        user_id: -1
                    }).then(response => {
                        this.searchLocally()
                        this.clearForms()
                    }).catch(err => {
                        console.log(err, 'error')
                    })
                }else{
                    await this.$axios.$post(`/corporate-client/confirm-action`, {
                        cscd_type: 3,
                        rnn_sender: item.inv_rnn_sender,
                        amnt_sender: item.inv_amnt_sender,
                        user_id: this.form_update.corporate
                    }).then(response => {
                        this.searchLocally()
                        this.clearForms()
                    }).catch(err => {
                        console.log(err, 'error')
                    })
                }
            },
            async create() {
                this.typeError = ''

                let obj = {}
                obj.username = this.form.username
                obj.first_name = this.form.first_name
                obj.last_name = this.form.last_name
                obj.display_name = this.form.display_name
                obj.phone = this.form.phone
                obj.email = this.form.email

                await this.$axios.$post(`/corporate-client/confirm-list`, {
                    obj: obj
                }).then(response => {
                    this.searchLocally()
                    this.clearForms()
                    if(response.data.code == 200){
                        this.typeError = 'Успешно обновлено'
                        this.successType = true
                        this.searchLocally()
                        this.clearForms()
                    }else{
                        this.typeError = 'Ошибка обновления в обращении к Instant Api'
                        this.successType = false
                    }
                }).catch(err => {
                    this.typeError = 'Ошибка обновления в обращении к Instant Api'
                    this.successType = false
                    console.log(err, 'error')
                })
            },
        }
    }
</script>
<style scoped>
    .titleColor{
        color:rgba(0, 0, 0, 0.6);
    }
    .textWhite{
        color:rgba(0, 0, 0, 0.6);
        font-size: 11px;
    }
    .textWhitePage{
        color:rgba(0, 0, 0, 0.6);
        font-size: 14px;
    }
    .scrollTable{
        overflow-y:scroll;
    }
    .centerItems{
        text-align:center;
        width:68px;
        word-wrap:break-word;
    }
    .blueColor{
        color:#2196F3 !important;
    }
    .smallSuccess{
        color:green;
        font-size:12px;
    }
    .smallError{
        color:red;
        font-size:12px;
    }
    .textAdditionalSpan{
        font-size: 12px;
    }
    .textAdditionalBtn{
        font-size: 10px;
    }
    .f-width{
        width:41%;
    }
    .white-text{
        color:white;
    }
    .smText{
        font-size: 16.5px;
    }
</style>