<template lang="pug">
    .m-3.p-3
        v-alert.m-3.p-3.titleColor.scrollTable(outlined elevation="2")
            span {{'Сформировать счет на оплату'}}
            v-divider.mb-1.titleColor
            v-alert
                v-card-title.titleColor
                    span {{'Выгрузка в Pdf формате'}}
                    v-spacer
                    v-dialog(transition="dialog-bottom-transition" max-width="400")
                        template(v-slot:activator="{ on, attrs }")
                            v-btn.mr-4.textWhite(outlined v-bind="attrs" v-on="on")
                                v-icon(color="blue") mdi-file-download-outline
                        template(v-slot:default="dialog")
                            v-card
                                form(@submit.prevent="submit()")
                                    v-toolbar(color="indigo" dark)
                                        span Выберите параметры выгрузки
                                    v-card-text
                                        div.text-h2.pl-12.pr-12
                                            v-text-field(v-model="code" label="Код" :disabled="codeModal")
                                            v-text-field(v-model="title" label="Наименование" :disabled="titleModal")
                                            v-text-field(v-model="amount" label="Кол-во" :disabled="amountModal")
                                            v-text-field(v-model="unit" label="Ед." :disabled="unitModal")
                                            v-text-field(v-model="price" label="Цена" :disabled="priceModal")
                                            v-text-field(v-model="total" label="Сумма" :disabled="totalModal")
                                            v-text-field(v-model="mail" label="Адрес почты" :disabled="mailModal")
                                    v-card-actions.d-flex.flex-column.align-end.justify-end.pl-12.pr-12
                                        v-btn.titleColor.mb-2(:disabled="mailModal" outlined color="light-green darken-2" @click="sendMail") Отправить счет на почту
                                        v-btn.titleColor.mb-2(type="submit" outlined color="light-green darken-2" :disabled="disabledBtn") Выгрузить счет
                                        v-btn.titleColor(:disabled="downloaded" outlined color="light-indigo darken-2" :href="downloadUrl" download target="_blank") Скачать счет
                                    v-card-actions.justify-end.pl-12.pr-12
                                        v-btn(text @click="dialog.value = false") Закрыть
            v-dialog(v-model="loadingDialog" hide-overlay persistent width="270")
                v-card(color="indigo darken-1" dark)
                    v-card-text
                        p Пожалуйста подождите, данные загружаются
                    v-progress-linear(indeterminate color="white" class="mb-0")
</template>
<script>
    import {mapGetters, mapActions} from "vuex"
    import { saveAs } from 'file-saver'
    export default {
        middleware: ['auth'],
        data: () => ({ 
            downloadUrl: process.env.SERVER_ADDRESS,
            disabledBtn: false,
            mail: '',
            filename: '',
            disableMailSend: false,
            downloaded: true,
            mailModal: true,
            code: '',
            title: '',
            amount: '',
            unit: '',
            price: '',
            total: '',
            codeModal: false,
            titleModal: false,
            amountModal: false,
            unitModal: false,
            priceModal: false,
            totalModal: false,
            loadingDialog: false,
            dis1: false,
            dis2: false,
            dis11: false,
            dis22: false,
            disableCommon: false,
        }),
        computed: {
            ...mapGetters('modules/aurika', [
                'agents',
                'headers_cancelled',
                'cities',
                'stores',
            ]),
        },
        mounted(){
        },
        methods: {
            ...mapActions("modules/aurika", [
                "setCitiesAction",
                "setStoresAction",
            ]),
            async submit() {
                this.disabledBtn = true
                this.loadingDialog = true
                this.downloadUrl = process.env.SERVER_ADDRESS
                await this.$axios.$get(`corporate-client/invoice`, 
                    {
                        params: {
                            code: this.code,
                            title: this.title,
                            amount: this.amount,
                            unit: this.unit,
                            price: this.price,
                            total: this.total,
                            user_id: this.$auth.user.data.id
                        }
                    },
                    {
                        responseType: "blob"
                    }
                )
                .then(response => {
                    // console.log(response)
                    this.disabledBtn = false
                    this.downloadUrl = this.downloadUrl + response
                    this.downloaded = false
                    this.filename = response
                    this.mailModal = false
                    if(this.loadingDialog){
                        this.loadingDialog = false
                    }

                    let a = document.createElement("a");
                    a.setAttribute('href', this.downloadUrl);
                    a.setAttribute('download', '');
                    a.setAttribute('target', '_blank');
                    a.click();


                }).catch(err => {
                    console.log(err, 'error')
                })
            },
            async sendMail(){
                this.mailModal = true
                await this.$axios.$get(`corporate-client/invoice/send-invoice`,
                    {
                        params: {
                            filename: this.filename,
                            mail: this.mail
                        }
                    }
                )
                .then(response => {
                    // console.log(response)
                    this.mailModal = false
                }).catch(err => {
                    console.log(err, 'error')
                })
            },
            closeStartDate(){
                this.startDate = false
                this.$refs.startDate.save(this.form.start)
            },
            closeEndDate(){
                this.endDate = false
                this.$refs.endDate.save(this.form.end)
            },
        }
    }
</script>
<style scoped>
    .titleColor{
        color:rgba(0, 0, 0, 0.6);
    }
    .scrollTable{
        overflow-y:scroll;
    }
    .mailArea{
        width:69%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border:1px solid black;
        margin:auto;
        margin-top:12px;
        padding: 0;
    }
    .all_cities{
        margin-top:15px;
        height:30px;
    }
    .all_stations{
        margin-top:25px;
        height:30px;
    }
</style>