<template >
    <!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Счет на оплату</title>
    <style>
        .main
        {
            width: 100%;
            margin: 0 auto;
            font-size: 9px;
        }
    </style>
</head>
<body>
    <div class="main">
        <table width="60%" style="font-family: Arial;margin-left:27.5%;">
            <tr >
                <td style="padding:5px;">
                    <div style="text-align: justify; font-size: 9px;">
                        Внимание! Оплата данного счета означает согласие с условиями поставки товара.
                        Уведомление об оплате обязательно, в противном случае не гарантируется наличие
                        товара на складе. Товар отпускается по факту прихода денег на р/с Поставщика,
                        самовывозом, при наличии доверенности и документов удостоверяющих личность.
                    </div>
                </td>
            </tr>
            
        </table>


        <table width="100%" border="2" style="border-collapse: collapse; width: 100%; font-family: Arial;" cellpadding="2" cellspacing="2">
            <tr style="">
                <td colspan="2" rowspan="2" style="min-height:13mm; width: 105mm;">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="height: 13mm;">
                        <tr>
                            <td valign="top">
                                <div>СТ-ПЕТЕРБУРГСКИЙ филиал ПАО "ПРОМСВЯЗЬБАНК"<br>Г.</div>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" style="height: 3mm;">
                                <div style="font-size:10pt;">Банк получателя</div>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="min-height:7mm;height:auto; width: 25mm;">
                    <div>БИK</div>
                </td>
                <td rowspan="2" style="vertical-align: top; width: 60mm;">
                    <div style=" height: 7mm; line-height: 7mm; vertical-align: middle;">044030555</div>
                    <div>30101810000000000555</div>
                </td>
            </tr>
            <tr>
                <td style="width: 25mm;">
                    <div>Сч. №</div>
                </td>
            </tr>
            <tr>
                <td style="min-height:6mm; height:auto; width: 50mm;">
                    <div>ИНН </div>
                </td>
                <td style="min-height:6mm; height:auto; width: 55mm;">
                    <div>КПП </div>
                </td>
                <td rowspan="2" style="min-height:19mm; height:auto; vertical-align: top; width: 25mm;">
                    <div>Сч. №</div>
                </td>
                <td rowspan="2" style="min-height:19mm; height:auto; vertical-align: top; width: 60mm;">
                    <div>40702810306000008712</div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="min-height:13mm; height:auto;">

                    <table border="0" cellpadding="0" cellspacing="0" style="height: 13mm; width: 105mm;">
                        <tr>
                            <td valign="top">
                                <div>ООО ""</div>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" style="height: 3mm;">
                                <div style="font-size: 10pt;">Получатель</div>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>
        <br/>

        <div style="font-weight: bold; font-size: 25pt; padding-left:5px; font-family: Arial;">
            Счет № 0 от 16.08.2017</div>
        <br/>

        <div style="background-color:#000000; width:100%; font-size:1px; height:2px;">&nbsp;</div>

        <table width="100%" style="font-family: Arial;">
            <tr>
                <td style="width: 30mm; vertical-align: top;">
                    <div style=" padding-left:2px; ">Поставщик:    </div>
                </td>
                <td>
                    <div style="font-weight:bold;  padding-left:2px;">
                        ООО "" ИНН , КПП ,<br>
        <span style="font-weight: normal;">, Российская Федерация, г. , Невский пр-кт, д. лит. ,<br> пом. , тел.: +7() , факс: +7()  </span>          </div>
                </td>
            </tr>
            <tr>
                <td style="width: 30mm; vertical-align: top;">
                    <div style=" padding-left:2px;">Покупатель:    </div>
                </td>
                <td>
                    <div style="font-weight:bold;  padding-left:2px;">
                    ИП , ИНН 7564644646, КПП 45465446456,<br><span style="font-weight: normal;">213245, Российская Федерация, г. ,  пр-кт, д.151 лит. А,<br> пом. , тел.: +7() , факс: +7()  </span>            </div>
                </td>
            </tr>
        </table>


        <table border="2" width="100%" cellpadding="2" cellspacing="2" style="border-collapse: collapse; width: 100%; font-family: Arial;">
            <thead>
            <tr>
                <th style="width:13mm; ">№</th>
            
                <th>Товары (работы, услуги)</th>
                <th style="width:20mm; ">Кол-во</th>
                <th style="width:17mm; ">Ед.</th>
                <th style="width:27mm;  ">Цена</th>
                <th style="width:27mm;  ">Сумма</th>
            </tr>
            </thead>
            <tbody >
            <tr>
                <td style="width:13mm; ">№</td>
            
                <td>Товар</td>
                <td style="width:20mm; ">Кол-во</td>
                <td style="width:17mm; ">Шт.</td>
                <td style="width:27mm; text-align: center; ">Цена</td>
                <td style="width:27mm; text-align: center; ">Сумма</td>
            </tr>
            </tbody>
        </table>

        <table style="font-family: Arial;" border="0" width="100%" cellpadding="1" cellspacing="1">
            <tr>
                <td></td>
                <td style="width:27mm; font-weight:bold;  text-align:right;">Итого:</td>
                <td style="width:27mm; font-weight:bold;  text-align: center; ">0.00</td>
            </tr>
        <tr>
                <td></td>
                <td style="width:27mm; font-weight:bold;  text-align:right;">Итого НДС:</td>
                <td style="width:27mm; font-weight:bold;  text-align: center; ">0.00</td>
            </tr>
        <tr>
                <td></td>
                <td style="width:37mm; font-weight:bold;  text-align:right;">Всего к оплате:</td>
                <td style="width:27mm; font-weight:bold;  text-align: center; ">0.00</td>
            </tr>
        </table>

        <br />
        <div style="font-family: Arial;">
        Всего наименований 0 на сумму 0.00 рублей.<br />
        Ноль рублей 00 копеек</div>
        <br /><br />
        <div style="background-color:#000000; width:100%; font-size:1px; height:2px;">&nbsp;</div>
        <br/>
        <div style="font-family: Arial; font-size: 10pt;">
        1. Счет действителен в течении 5 (пяти) банковских дней, не считая дня выписки счета. В случае нарушения срока оплаты сохранение цены на товар и наличие товара на складе НЕ ГАРАНТИРУЕТСЯ.<br />
        2. Оплата данного счета означает согласие с условиями изложенными в п.1</div>
        <br /><br />
        <div style="background: url('<!--url печати в png сюда-->');  background-repeat: no-repeat; padding: 30px 10px; width: 400px; height: 250px;">
        <div>Руководитель ______________________ </div>
        <br/>  <br /><br />

        <div>Главный бухгалтер ______________________</div>
        <br/>

        <div style="width: 85mm;text-align:center;">М.П.</div>
        <br/>
        </div>
        <br/>  <br /><br /><br/>  <br /><br /><br/>  <br /><br />
    </div>

    <!-- <div style="margin: 0 auto;display: block;width: 500px;">
        <table width="100%" border="1">
            <tr>
                <td colspan="2">
                    <img src="{{$imagePath}}" style="width:200px;"> 
                </td>
            </tr>
            <tr>
                <td>Name:</td>
                <td>{{$name}}</td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>{{$address}}</td>
            </tr>
            <tr>
                <td>Mobile Number:</td>
                <td>{{$mobileNumber}}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{$email}}</td>
            </tr>
        </table>
    </div> -->
</body>
</html>
</template>