<template lang="pug">
    .m-3.p-3
        v-alert.m-3.p-3.titleColor.scrollTable(outlined elevation="2")
            span {{'Отчет по ' + title}}
            v-divider.mb-1.titleColor
            v-alert
                v-card-title.titleColor
                    span {{'Заказы ' + title}}
                    v-spacer
                    v-text-field.titleColor(v-model="search" append-icon="mdi-magnify" label="Поиск по текущей таблице" single-line hide-details)
                v-card-title.titleColorSub
                    p В некоторых полях поиска, наведите мышкой в область ввода, для полного понимания как вести поиск правильно
                v-data-table.tableStyle.titleColor(:headers="(endpoint == 'ksttrade' || endpoint == 'm36orders') ? headers_kst : headers" :items="orders" :search="search" :footer-props="{itemsPerPageText: 'Количество строк:'}")
                    template(v-slot:[`item.status`]="{ item }")
                        .centerItems(v-show="item.status")
                            span {{item.status}}
                            br
                            span.blueColor(v-if="endpoint != 'ksttrade' && endpoint != 'm36orders'") {{ statusTitle(item.status) }}
                            span(v-if="endpoint != 'ksttrade' && endpoint != 'm36orders'") {{ statusContent(item.status) }}
                            span.blueColor(v-if="endpoint == 'ksttrade' || endpoint == 'm36orders'") {{ statusTitleKst(item.status) }}
                            span(v-if="endpoint == 'ksttrade' || endpoint == 'm36orders'") {{ statusContentKst(item.status) }}
                    template(v-slot:[`item.payment_type`]="{ item }")
                            span(v-if="endpoint != 'ksttrade' && endpoint != 'm36orders'") {{ payTypeConvert(item.payment_type) }}
                            span(v-if="endpoint == 'ksttrade' || endpoint == 'm36orders'") {{ payTypeConvertKst(item.order_payment_type) }}
                    template(v-slot:[`item.create_date`]="{ item }")
                            span(v-if="endpoint != 'ksttrade' && endpoint != 'm36orders'") {{ dateConvert(item.create_date) }}
                            span(v-if="endpoint == 'ksttrade' || endpoint == 'm36orders'") {{ dateConvertKst(item.created_at) }}
                    template(v-slot:[`item.modify_date`]="{ item }")
                            span(v-if="endpoint != 'ksttrade' && endpoint != 'm36orders'") {{ dateConvert(item.modify_date) }}
                            span(v-if="endpoint == 'ksttrade' || endpoint == 'm36orders'") {{ dateConvertKst(item.updated_at) }}
                    template(v-slot:[`item.external_id`]="{ item }")
                            span(v-if="!item.external_id") Нет данных
                            span(v-else) {{item.external_id}}
                    template(v-slot:body.prepend)
                        tr
                            td
                                v-text-field(v-model="o_id" @keyup="searchLocally()" type="text")
                            td
                                v-text-field(v-model="o_store_id" @keyup="searchLocally()" type="text")
                            td
                                v-text-field(v-model="o_st_title" @keyup="searchLocally()" type="text")
                            td
                                v-text-field(v-model="o_pump_number" @keyup="searchLocally()" type="text")
                            td
                                v-text-field(v-model="o_product_price" @keyup="searchLocally()" type="text")
                            td(v-if="endpoint != 'ksttrade' && endpoint != 'm36orders'")
                                v-text-field(v-model="o_payment_type" @keyup="searchLocally()" type="text" title="Для поиска напишите id типа оплаты: Каспи - 9, Халык - 8, Терминал нал. - 5, Терминал карта - 6, Котрагент компасс - 1")
                            td(v-if="endpoint == 'ksttrade' || endpoint == 'm36orders'")
                                v-text-field(v-model="o_order_payment_type" @keyup="searchLocally()" type="text" title="Для поиска напишите id типа оплаты: Каспи - 9, Халык - 8, Терминал нал. - 5, Терминал карта - 6, Котрагент компасс - 1")
                            td
                                v-text-field(v-model="o_status" @keyup="searchLocally()" type="text")
                            td(v-if="endpoint != 'ksttrade' && endpoint != 'm36orders'")
                                v-text-field(v-model="o_create_date" @keyup="searchLocally()" type="text" title="Для поиска напишите дату в формате 2021-12-30 и тд.")
                            td(v-if="endpoint == 'ksttrade' || endpoint == 'm36orders'")
                                v-text-field(v-model="o_created_at" @keyup="searchLocally()" type="text" title="Для поиска напишите дату в формате 2021-12-30 и тд.")
                            td(v-if="endpoint != 'ksttrade' && endpoint != 'm36orders'")
                                v-text-field(v-model="o_modify_date" @keyup="searchLocally()" type="text" title="Для поиска напишите дату в формате 2021-12-30 и тд.")
                            td(v-if="endpoint == 'ksttrade' || endpoint == 'm36orders'")
                                v-text-field(v-model="o_updated_at" @keyup="searchLocally()" type="text" title="Для поиска напишите дату в формате 2021-12-30 и тд.")
                            td(v-if="endpoint != 'ksttrade' && endpoint != 'm36orders'")
                                v-text-field(v-model="o_nipl_order_id" @keyup="searchLocally()" type="text")
                            td
                                v-text-field(v-model="o_total_order_amt" @keyup="searchLocally()" type="text")
                            td
                                v-text-field(v-model="o_external_id" @keyup="searchLocally()" type="text")
                            td
                                v-btn.textWhite(outlined @click="clearSearch()")
                                    span Очистить поиск
                    template(v-slot:item.controls="props") 
                        .d-flex
                            v-dialog(transition="dialog-bottom-transition" max-width="1200")
                                template(v-slot:activator="{ on, attrs }")
                                    v-btn.mr-4.textWhite(v-if="endpoint != 'ksttrade' && endpoint != 'm36orders'" outlined @click="getInfo(props.item)" v-bind="attrs" v-on="on")
                                        v-icon(color="blue") mdi-information-outline
                                    v-btn.mr-4.textWhite(v-if="endpoint == 'ksttrade' || endpoint == 'm36orders'" outlined @click="getInfoKst(props.item)" v-bind="attrs" v-on="on")
                                        v-icon(color="blue") mdi-information-outline
                                template(v-slot:default="dialog")
                                    v-card
                                        v-toolbar(color="indigo" dark)
                                            span Подробная информация
                                        v-card-text
                                            div.text-h2.pa-12
                                                v-data-table.tableStyle.titleColor(:headers="headers_cancelled" :items="orders_cancelled" :search="search" :hide-default-footer="true")  
                                                    template(v-slot:[`item.c_ext_date`]="{ item }")
                                                        template(v-if="item.c_ext_date")
                                                            span {{ dateConvert(item.c_ext_date) }}
                                                    template(v-slot:[`item.c_create_date`]="{ item }")
                                                        template(v-if="item.c_create_date")
                                                            span {{ dateConvert(item.c_create_date) }}                                         
                                        v-card-actions.justify-end
                                            v-btn(text @click="dialog.value = false") Закрыть
                            v-dialog(transition="dialog-bottom-transition" max-width="400")
                                template(v-slot:activator="{ on, attrs }")
                                    v-btn.mr-4.textWhite(v-if="endpoint != 'ksttrade' && endpoint != 'm36orders'" outlined @click="updateStatus(props.item)" v-bind="attrs" v-on="on")
                                        v-icon(color="green") mdi-circle-edit-outline
                                    v-btn.mr-4.textWhite(v-if="endpoint == 'ksttrade' || endpoint == 'm36orders'" disabled outlined @click="updateStatus(props.item)" v-bind="attrs" v-on="on")
                                        v-icon(color="green") mdi-circle-edit-outline
                                template(v-slot:default="dialog")
                                    v-card
                                        v-toolbar(color="indigo" dark)
                                            span Подробная информация
                                        v-card-text
                                            div.text-h5.pa-12
                                                form(@submit.prevent="submit(props.item)")
                                                    div.form-group
                                                        label Изменить статус
                                                        v-select.titleColor(v-if="endpoint == 'ksttrade' || endpoint == 'm36orders'" :items="statuses_kst" label="Выберите статус" v-model.trim="form.status" :item-text="'text'" :item-value="'val'")
                                                        v-select.titleColor(v-if="endpoint != 'ksttrade' && endpoint != 'm36orders'" :items="statuses" label="Выберите статус" v-model.trim="form.status" :item-text="'text'" :item-value="'val'")
                                                        v-text-field.titleColor(v-if="endpoint == 'compass' && form.status == 5" v-model.trim="form.liter" type="text" placeholder="Колличество литров")
                                                        small(v-bind:class="[successType ? 'smallSuccess' : 'smallError']") {{typeError}}
                                                    v-btn.mt-2.titleColor(type="submit" outlined) Изменить
                                        v-card-actions.justify-end
                                            v-btn(@click="dialog.value = false" text) Закрыть
        nav.d-flex.flex-column.justify-center.align-center
            v-btn.textWhite.justify-center.justify-content-center.mb-3(outlined @click="searchLocally()")
                span Обновить таблицу
            span.pagination.justify-content-center.textWhitePage.mb-3 Навигация по всем заказам
            v-dialog(v-model="loadingDialog" hide-overlay persistent width="270")
                v-card(color="indigo darken-1" dark)
                    v-card-text
                        p Пожалуйста подождите, данные загружаются
                    v-progress-linear(indeterminate color="white" class="mb-0")
            ul.pagination.justify-content-center
                li.page-item(v-for="(key, value) in links" :key="value")
                    a.page-link.textWhitePage(v-if="key !== null" @click="loadMore(key)" href="#") {{translate(value)}}
</template>
<script>
    import {mapGetters, mapActions} from "vuex"
    // import { RetalixApiService } from "@/services/apiRequests/retalix.api";
    export default {
        middleware: ['auth'],
        props: [
            'title',
            'endpoint',
        ],
        data: () => ({ 
            loadingDialog: false,
            o_id: '',
            o_store_id: '',
            o_st_title: '',
            o_pump_number: '',
            o_product_price: '',
            o_payment_type: '',
            o_order_payment_type: '',
            o_status: '',
            o_create_date: '',
            o_created_at: '',
            o_modify_date: '',
            o_updated_at: '',
            o_system_type: '',
            o_nipl_order_id: '',
            o_total_order_amt: '',
            o_external_id: '',
            links: [],
            form: {
                id: '',
                status: '',
                liter: '',
            },
            search: '',
            orders: [],
            orders_cancelled: [],
            typeError: '',
            successType: true,
        }),
        async mounted(){
            this.searchLocally()
        },
        computed: {
            ...mapGetters('modules/retalix', [
                'headers',
                'headers_cancelled',
                'statuses',
                'headers_kst',
                'headers_cancelled_kst',
                'statuses_kst',
            ]),
        },
        methods: {
            // async handleSubmit() {
            //     try {
            //         let res = await RetalixApiService.getOrders(params)
            //     } catch (e) {
            //         console.error(e)
            //     }
            // },
            dateConvert(currentDate){
                var arr = currentDate.split(/-|\s|:/);
                var d = new Date(arr[0], arr[1] -1, arr[2], arr[3], arr[4], arr[5]);
                d = d.setHours(d.getHours() + 6)
                d = new Date(d)

                let date = ("0" + d.getDate()).slice(-2);
                let month = ("0" + (d.getMonth() + 1)).slice(-2);
                let year = d.getFullYear();
                let hours = d.getHours();
                let minutes = d.getMinutes();
                let seconds = d.getSeconds();
                return date + "." + month + "." + year + " " + hours + ":" + minutes + ":" + seconds
            },
            dateConvertKst(currentDate){
                var arr = currentDate.split(/-|\s|:/);
                var d = new Date(arr[0], arr[1] -1, arr[2], arr[3], arr[4], arr[5]);
                d = d.setHours(d.getHours() + 6)
                d = new Date(d)

                let date = ("0" + d.getDate()).slice(-2);
                let month = ("0" + (d.getMonth() + 1)).slice(-2);
                let year = d.getFullYear();
                let hours = d.getHours();
                let minutes = d.getMinutes();
                let seconds = d.getSeconds();
                return date + "." + month + "." + year + " " + hours + ":" + minutes + ":" + seconds
            },
            ...mapActions("modules/retalix", [
                "setHeadersAction",
            ]),
            statusTitle(status){
                switch (status) {
                    case 1:
                        return 'AcceptOrder'
                    case 2:
                        return 'WaitingRefueling'
                    case 3:
                        return 'Fueling'
                    case 4:
                        return 'Canceled'
                    case 5:
                        return 'Completed'
                    case 6:
                        return 'Expire'
                    default:
                        return 'No value'
                }
            },
            statusTitleKst(status){
                switch (status) {
                    case 1:
                        return 'New'
                    case 2:
                        return 'In progress'
                    case 3:
                        return 'Completed'
                    case 4:
                        return 'Canceled'
                    case 6:
                        return 'Expired'
                    default:
                        return 'No value'
                }
            },
            payTypeConvert(type){
                switch (type) {
                    case 9:
                        return 'Каспи'
                    case 8:
                        return 'Халык'
                    case 5:
                        return 'Терминал нал.'
                    case 6:
                        return 'Терминал карта'
                    case 1:
                        return 'Контрагент компасс'
                    default:
                        return '-'
                }
            },
            payTypeConvertKst(type){
                switch (type) {
                    case 9:
                        return 'Каспи'
                    case 8:
                        return 'Халык'
                    case 5:
                        return 'Терминал нал.'
                    case 6:
                        return 'Терминал карта'
                    case 1:
                        return 'Контрагент компасс'
                    default:
                        return '-'
                }
            },
            statusContent(status){
                switch (status) {
                    case 1:
                        return ' – заказ ожидает подтверждения от АСУ АЗС'
                    case 2:
                        return ' – ожидаем включения налива на ТРК'
                    case 3:
                        return ' – идет налив, интегрируемая система готова запустить колонку (начать пролив)'
                    case 4:
                        return ' - заказ следует отменить'
                    case 5:
                        return ' - заказ выполнен и топливо залито'
                    case 6:
                        return ' – статус от АЗС не поступил в течение 30 минут'
                    default:
                        return 'No value'
                }
            },
            statusContentKst(status){
                switch (status) {
                    case 1:
                        return ' – новый заказ'
                    case 2:
                        return ' – в обработке'
                    case 3:
                        return ' – завершен'
                    case 4:
                        return ' - отменён'
                    case 6:
                        return ' – истёк'
                    default:
                        return 'No value'
                }
            },
            async searchLocally(){
                this.loadingDialog = true
                await this.$axios.$get(this.endpoint + '/orders', {
                    params: {
                        id: this.o_id,
                        store_id: this.o_store_id,
                        st_title: this.o_st_title,
                        pump_number: this.o_pump_number,
                        product_price: this.o_product_price,
                        payment_type: this.o_payment_type,
                        order_payment_type: this.o_order_payment_type,
                        status: this.o_status,
                        create_date: this.o_create_date,
                        created_at: this.o_created_at,
                        modify_date: this.o_modify_date,
                        updated_at: this.o_updated_at,
                        nipl_order_id: this.o_nipl_order_id,
                        total_order_amt: this.o_total_order_amt,
                        external_id: this.o_external_id,
                    }
                })
                    .then(response => {
                        this.orders = response.data
                        this.links = response.links
                    })
                this.loadingDialog = false
            },
            clearSearch(){
                this.o_id = '',
                this.o_store_id = '',
                this.o_st_title = '',
                this.o_pump_number = '',
                this.o_product_price = '',
                this.o_payment_type = '',
                this.o_order_payment_type = '',
                this.o_status = '',
                this.o_create_date = '',
                this.o_created_at = '',
                this.o_modify_date = '',
                this.o_updated_at = '',
                this.o_nipl_order_id = '',
                this.o_total_order_amt = '',
                this.o_external_id = '',
                this.searchLocally()
            },
            translate(val){
                switch (val) {
                    case 'first':
                        return 'Первая'
                    case 'last':
                        return 'Последняя'
                    case 'prev':
                        return 'Предыдущая'
                    case 'next':
                        return 'Следующая'
                    default:
                        return 'No value'
                }
            },
            async loadMore(key) {
                this.loadingDialog = true
                let response = await this.$axios.$get(key)
                    .then(response => {
                        this.orders = response.data
                        this.links = response.links
                    })
                this.loadingDialog = false
            },
            async getInfo(item) {
                await this.$axios.$get(`${this.endpoint}/order/${item.id}`)
                .then(response => {
                    this.orders_cancelled = response.data
                }).catch(err => {
                    console.log(err, 'error')
                })
            },
            async getInfoKst(item) {
                await this.$axios.$get(`${this.endpoint}/order/${item.id}`)
                .then(response => {
                    this.orders_cancelled = response.data
                }).catch(err => {
                    console.log(err, 'error')
                })
            },
            updateStatus(item) {
                this.form.id = item.id
                this.form.status = item.status
            },
            async submit(item) {
                this.typeError = ''
                let update = true
                if(this.endpoint != 'ksttrade' && this.endpoint != 'm36orders'){
                    if(this.endpoint == 'compass' && this.form.status == 5 && this.form.liter == ''){
                        this.typeError = 'Заполните обязательное поле для литра'
                        this.successType = false
                        update = false
                    }else{
                        update = true
                    }
                    if(this.endpoint == 'compass' && (this.form.status == 4 || this.form.status == 5)){
                        if(this.form.status == 4){
                            await this.$axios.$post(`/${this.endpoint}/cancel`, {
                                order_id: item.nipl_order_id,
                                item_id: item.id
                            }).then(response => {
                                if(response.data.code == 200){
                                    this.typeError = 'Успешно обновлено'
                                    this.successType = true
                                }else{
                                    this.typeError = 'Ошибка обновления в обращении к Compass (Cancel Api)'
                                    this.successType = false
                                }
                            }).catch(err => {
                                this.typeError = 'Ошибка обновления в обращении к Compass (Cancel Api)'
                                this.successType = false
                                console.log(err, 'error')
                            })
                        }else{
                            if(update){
                                await this.$axios.$post(`/${this.endpoint}/refund`, {
                                    order_id: item.nipl_order_id,
                                    actual_filled_liters: this.form.liter,
                                    store_product_id: item.product_id,
                                    item_id: item.id
                                }).then(response => {
                                    if(response.data.code == 200){
                                        this.typeError = 'Успешно обновлено'
                                        this.successType = true
                                    }else{
                                        this.typeError = 'Ошибка обновления в обращении к Compass (Refund Api)'
                                        this.successType = false
                                    }
                                }).catch(err => {
                                    this.typeError = 'Ошибка обновления в обращении к Compass (Refund Api)'
                                    this.successType = false
                                    console.log(err, 'error')
                                })
                            }
                        }
                    }

                    await this.$axios.$patch(`/${this.endpoint}/order/${this.form.id}`, {
                        value: this.form.status
                    }).then(response => {
                        this.$axios.$get(this.endpoint + '/orders')
                            .then(response => {
                                this.orders = response.data
                            })
                    }).catch(err => {
                        console.log(err, 'error')
                    })
                }else{
                    await this.$axios.$patch(`/${this.endpoint}/order/${this.form.id}`, {
                        value: this.form.status
                    }).then(response => {
                        this.$axios.$get(this.endpoint + '/orders')
                            .then(response => {
                                this.orders = response.data
                            })
                    }).catch(err => {
                        console.log(err, 'error')
                    })
                }
            },
        }
    }
</script>
<style scoped>
    .titleColor{
        color:rgba(0, 0, 0, 0.6);
    }
    .titleColorSub{
        color:rgba(0, 0, 0, 0.5);
        font-size:13px;
    }
    .textWhite{
        color:rgba(0, 0, 0, 0.6);
        font-size: 11px;
    }
    .textWhitePage{
        color:rgba(0, 0, 0, 0.6);
        font-size: 14px;
    }
    .scrollTable{
        overflow-y:scroll;
    }
    .centerItems{
        text-align:center;
        width:68px;
        word-wrap:break-word;
    }
    .blueColor{
        color:#2196F3 !important;
    }
    .smallSuccess{
        color:green;
        font-size:12px;
    }
    .smallError{
        color:red;
        font-size:12px;
    }
</style>